.contact
{
    height: 100vh;
    position: relative;
}
.c-bg
{
    width: 20px;
    height: 100%;
    background-color: #59b256;
    position: absolute;
}
.c-wrapper
{
    padding: 50px;
    display: flex;
}
.c-wrapper-left
{
    flex: 1;
}
.c-w-left-title
{
    font-size: 60px;
    width: 80%;
}
.c-info
{

}
.c-info-item
{
    display: flex;
    align-items: center;
    margin: 50px 0px;
    width: 70%;
}
.c-icon
{
    height: 30px;
    width: 30px;
    margin-right: 20px;
}


.c-wrapper-right
{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.c-w-desc
{
    font-weight: 200;
}
form
{
    margin-top: 20px;
}
input
{
    width: 50%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    padding-left: 10px;
    font-size: 14px;
}
textarea
{
    width: 100%;
    margin: 10px 0px;
    padding-left: 10px;
    font-size: 14px;
}
button
{
    border: none;
    padding: 14px;
    background-color: #59b256;
    color: white;
    font-weight: 500;
    cursor: pointer;
}
.text-done
{
    color: #59b256;
    margin-left: 10px;
}
/* Responsive */

@media screen and (max-width: 480px) {
    .c-wrapper
    {
        flex-direction: column;
        padding: 0px 50px;
    }
    .c-w-left-title
    {
        font-size: 30px;
    }
    .c-info-item
    {
        margin: 20px 0px;
        width: 100%;
    }
    .c-w-desc
    {
        text-align: center;
    }

    form
    {
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
    }
    input
    {
        width: 35%;
        height: 40px;
        margin: 10px;
        margin-left: 0px;
    }
    button
    {
        margin-top: 10px;
    }
}